<a href="https://colab.research.google.com/github/janairacs/bootcamp_WoMakersCode_Desafio_Python/blob/main/Desafio_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Instação

!pip install pydataset
!pip install pandas

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 67.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=247a819cb48bb4a4d2eb6ebd758183f4ce2dc922c859cd72016ba66b6e0d46b7
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [9]:
#Importar as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import pydataset as data

initiated datasets repo at: /root/.pydataset/

In [10]:
# Código do dataset
codigo_dataset = "titanic"

In [13]:

# Carregar o conjunto de dados do Titanic usando pydataset
df_titanic = data.data(codigo_dataset)

In [20]:
# 1. Quantas pessoas sobreviveram e quantas morreram?

# Contagem de sobreviventes
sobreviventes = df_titanic['survived'].value_counts()[1]
# Contagem de mortos
mortos = df_titanic['survived'].value_counts()[0]

#Impressão dos sobreviventes e mortos
print("Sobreviventes:", sobreviventes)
print("Mortos:", mortos)

Sobreviventes: 499
Mortos: 817

In [16]:
# 2. Quantas pessoas eram da primeira, segunda e terceira classe?
classes = df_titanic['class'].value_counts()
print("\nNúmero de passageiros por classe:")
print(classes)

Número de passageiros por classe:
3rd class    706
1st class    325
2nd class    285
Name: class, dtype: int64

In [22]:
# 3. Qual a porcentagem de sobreviventes na primeira classe?

# Filtrar sobreviventes da primeira classe
sobreviventes_primeira_classe = df_titanic[(df_titanic['class'] == '1st class') & (df_titanic['survived'] == 'yes')].shape[0]

# Número total de passageiros na primeira classe
total_primeira_classe = classes['1st class']

# Calcular a porcentagem de sobreviventes na primeira classe
porcentagem_sobreviventes_primeira_classe = (sobreviventes_primeira_classe / total_primeira_classe) * 100

print("\nPorcentagem de sobreviventes na primeira classe:", round(porcentagem_sobreviventes_primeira_classe))

Porcentagem de sobreviventes na primeira classe: 62

In [21]:
# 4. Qual a porcentagem de mortos da terceira classe?

# Filtrar mortos da terceira classe
mortos_terceira_classe = df_titanic[(df_titanic['class'] == '3rd class') & (df_titanic['survived'] == 'no')].shape[0]

# Número total de passageiros na terceira classe
total_terceira_classe = classes['3rd class']

# Calcular a porcentagem de mortos na terceira classe
porcentagem_mortos_terceira_classe = (mortos_terceira_classe / total_terceira_classe) * 100

print("Porcentagem de mortos na terceira classe:", round(porcentagem_mortos_terceira_classe))

Porcentagem de mortos na terceira classe: 75