<a href="https://colab.research.google.com/github/janairacs/bootcamp_WoMakersCode_Desafio_Python/blob/main/Desafio_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Instalação

!pip install pydataset
!pip install pandas

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 46.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=8ab8bad070519bdb36d2ef90dc82719bf272348af8044d116b6014a5a6434546
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#Importar as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import pydataset as data

initiated datasets repo at: /root/.pydataset/

In [19]:
# Carregar o conjunto de dados Forbes2000
forbes_df = data.data("Forbes2000")

In [20]:
# Carregar o conjunto de dados do Forbes usando pydataset
forbes_df.head()

,rank,name,country,category,sales,profits,assets,marketvalue
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

In [23]:
# 1. Qual a empresa mais valiosa da lista da Forbes 2000?
# Encontrar o valor máximo de 'marketvalue'  * round para arredondar o valor

maximo = forbes_df['marketvalue'].max()
print("Valor máximo de 'marketvalue':", round (maximo))

Valor máximo de 'marketvalue': 329

In [25]:
# Criar um novo DataFrame contendo apenas a entrada com o valor máximo de 'marketvalue'
new_forbes_df = forbes_df[forbes_df['marketvalue'] == maximo]
print(new_forbes_df)

   rank              name        country       category   sales  profits  assets  marketvalue
2     2  General Electric  United States  Conglomerates  134.19    15.59  626.93       328.54

In [28]:
#Construa uma tabela com as TOP 10 empresas mais lucrativas da lista.
# Seleciona as top 10 entradas do DataFrame com base nos maiores valores da coluna 'profits'
top10_df = forbes_df.nlargest(10, 'profits')

In [34]:
# Obter as categorias únicas das top 10 entradas
categorias_unicas = top10_df['category'].unique()
print("\nTop 10 empresas com os maiores valores em 'profits':", top10_df )

print("\nCategorias únicas das top 10 empresas:", categorias_unicas)

Top 10 empresas com os maiores valores em 'profits':     rank              name         country                category   sales  profits   assets  \
4      4        ExxonMobil   United States    Oil & gas operations  222.88    20.96   166.99
1      1         Citigroup   United States                 Banking   94.71    17.85  1264.03
2      2  General Electric   United States           Conglomerates  134.19    15.59   626.93
6      6   Bank of America   United States                 Banking   49.01    10.81   736.45
5      5                BP  United Kingdom    Oil & gas operations  232.57    10.27   177.57
20    20       Freddie Mac   United States  Diversified financials   46.26    10.09   752.25
22    22      Altria Group   United States    Food drink & tobacco   60.70     9.20    96.18
10    10   Wal-Mart Stores   United States               Retailing  256.33     9.05   104.91
31    31         Microsoft   United States     Software & services   34.27     8.88    85.94
17    17             Total          France    Oil & gas operations  131.64     8.84    87.84

    marketvalue
4        277.02
1        255.30
2        328.54
6        117.55
5        173.54
20        44.25
22       111.02
10       243.74
31       287.02
17       116.64

Categorias únicas das top 10 empresas: ['Oil & gas operations' 'Banking' 'Conglomerates' 'Diversified financials'
 'Food drink & tobacco' 'Retailing' 'Software & services']

In [36]:
#3. Qual a média de valores de empresa das cinco categorias mais valiosas?


# Calcular a média dos valores em 'profits' agrupados por categoria e arredondar para 2 casas decimais
media_por_categoria = top10_df.groupby('category')['profits'].mean().round(2)

# Calcular a soma dos valores em 'profits' agrupados por categoria e arredondar para 2 casas decimais
soma_por_categoria = top10_df.groupby('category')['profits'].sum().round(2)

print("\nMédia dos valores em 'profits' por categoria:", media_por_categoria)
print("\nSoma dos valores em 'profits' por categoria:", soma_por_categoria)

Média dos valores em 'profits' por categoria: category
Banking                   14.33
Conglomerates             15.59
Diversified financials    10.09
Food drink & tobacco       9.20
Oil & gas operations      13.36
Retailing                  9.05
Software & services        8.88
Name: profits, dtype: float64

Soma dos valores em 'profits' por categoria: category
Banking                   28.66
Conglomerates             15.59
Diversified financials    10.09
Food drink & tobacco       9.20
Oil & gas operations      40.07
Retailing                  9.05
Software & services        8.88
Name: profits, dtype: float64